* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 110px;
    background: #191E32;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 8888888;
}
.navbar_brand{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.navbar_brand h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}
.navbar_menu{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar_menu h5{
    cursor: pointer;
}
.navbar_menu h5:hover{
    color: #c1b3b3;
}
.navbar_menu h5:active{
    color: #a2a0a0;
}
.navbar-sign-in{
    margin-top: -30px;
}
.navbar-sign-in button{
    margin-top: -10px;
    background: #C4C4C4;
    border-radius: 0;
}
.bar{
    display: none;
}
.accomodation{
    text-decoration: none;
    color: #fff;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    top: 50px;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
    
}
  
.imgs{
    width: 900px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    
}

.prev{
    cursor: pointer;
    position: relative;
    left: 300px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0 3px 3px 0;
}

.next{
    cursor: pointer;
    position: relative;
    left: 400px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 710px;
    left: 390px;
}
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
  
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: 50px;
}

h3{
    position: relative;
    top: 30px;
}

.text1{
    width: 200px;
    height: 42px;
    text-align: center;
    border: 2px solid #fff;
    padding-top: 6px;
    position: relative;
    left: -100px;
    top: 35px;
}

.text2{
    width: 170px;
    height: 42px;
    text-align: center;
    border: 2px solid #fff;
    padding-top: 6px;
    position: relative;
    top: -7px;
    left: 100px;
}

.text3{
    width: 138px;
    height: 42px;
    text-align: center;
    border: 2px solid #fff;
    padding-top: 6px;
    position: relative;
    top: 15px;
    left: -130px;
}

.text4{
    width: 230px;
    height: 42px;
    text-align: center;
    border: 2px solid #fff;
    padding-top: 6px;
    position: relative;
    top: -27px;
    left: 70px;
}

.text5{
    position: relative;
    top: 50px;
}

.text5_ul{
    position: relative;
    left: 90px;
}

.text6{
    position: relative;
    top: 200px;
    left: -120px;
}

.text7{
    position: relative;
    top: 160px;
    left: 100px;
}

p{
    font-size: 18px;
}

.love{
    position: relative;
    top: -42px;
    left: 90px;
    font-size: 18px;
}
.home_card{
    position: relative;
    top: 3rem;
}

.card-wrapper{
    height: auto;
}
.card_img{
    border-radius: 1px;
}
.card_b{
    box-shadow: rgba(38, 36, 36, 0.49) 0 14px 28px, rgba(23, 24, 24, 0.58) 0 10px 10px;
    border-radius: 10px;
    background: #222933;
}
.card_b_body{
    background: #222933;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card_btn{
    background: #232F3D;
    box-shadow: rgba(255, 255, 255, 0.25) 0 0 10px, rgba(255, 255, 255, 0.22) 0 0 10px;
}
.card_img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.footer{
    width: 100%;
    height: 270px;
    background: #222933;
    color: #fff;
}
@media only screen and (max-width: 1024px){
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .navbar_menu{
        width: 100%;
        height: 85vh;
        z-index: 67777;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: rgba(25, 30, 50, 0.93);
        position: fixed;
        top: 6.7rem;
        transform: translateX(-100%);
    }
    .hide{
        transform: translateX(0%);
    }
    .bar{
        display: block;
        margin-right: 35px;
        cursor:pointer;
    }
    .navbar-sign-in{
        position: relative;
        top: -2rem;
        margin-left: -2rem;
    }
    .navbar-sign-in button{
        margin-top: 0px;
        background: #C4C4C4;
        border-radius: 0;
    }
    .imgs{
        width: 900px;
        height: 500px;
    }
    .numbertext {
        position: absolute;
        top: 510px;
        left: 435px;
    }
    .prev{
        position: relative;
        left: 350px;
    }

    .next{
        position: relative;
        left: 450px;
    }
    .footer{
        width: 100%;
        height: 270px;
        background: #222933;
        color: #fff;
    }
}
@media only screen and (max-width: 992px){
    .imgs{
        width: 900px;
        height: 500px;
    }
    .numbertext {
        position: absolute;
        top: 510px;
        left: 315px;
    }
    .prev{
        position: relative;
        left: 220px;
    }

    .next{
        position: relative;
        left: 320px;
    }
    .footer{
        width: 100%;
        height: 100vh;
        background: #222933;
        color: #fff;
    }
}
@media only screen and (max-width: 768px){
    .imgs{
        width: 900px;
        height: 500px;
    }
    .numbertext {
        position: absolute;
        top: 510px;
        left: 235px;
    }
    .prev{
        position: relative;
        left: 150px;
    }

    .next{
        position: relative;
        left: 250px;
    }
    .footer{
        width: 100%;
        height: 100vh;
        background: #222933;
        color: #fff;
    }
}
@media only screen and (max-width: 567px){
    .imgs{
        width: 900px;
        height: 350px;
    }
    .numbertext {
        position: absolute;
        top: 360px;
        left: 180px;
    }
    .prev{
        position: relative;
        left: 90px;
    }

    .next{
        position: relative;
        left: 190px;
    }
    .footer{
        width: 100%;
        height: 100vh;
        background: #222933;
        color: #fff;
        position: relative;
        top: 1rem;
    }
}